{% extends 'base.html.twig' %}

{% block title %}Crazy phone - Nous contacter{% endblock %}

{% block body %}
    <div class="h-[26rem] mt-16">
        <div class="hero min-h-full" style="background-image: url(https://picsum.photos/1280/800?random=1);">
          <div class="hero-overlay bg-opacity-60"></div>
          <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
              <h1 class="mb-5 text-5xl font-bold">Contact</h1>

                {% for social in tSocials() %}
                    <a class="btn btn-link bg-transparent me-1 hover:rounded border-transparent hover:border-white"
                       href="{{ social.url }}"
                       title="{{ social.name }}"
                       target="_blank">
                        <i class="{{ social.logo }} fa-2x text-white"></i>
                    </a>
                {% endfor %}

                <a class="btn btn-link bg-transparent me-1 hover:rounded border-transparent hover:border-white"
                   href="mailto:{{ contactInformation('mail') }}"
                   title="Contact par email"
                >
                    <i class="fa-regular fa-envelope fa-2x text-white"></i>
                </a>

                <a class="btn btn-link bg-transparent me-1 hover:rounded border-transparent hover:border-white"
                   href="#contact"
                   title="SMS au {{ contactInformation('tel') }}"

                >
                    <i class="fa-solid fa-mobile-screen fa-2x text-white"></i>
                </a>

            </div>
          </div>
        </div>
    </div>

    <div class="mt-5 mb-20 px-5 md:px-10 xl:px-20">
        <div class="section-heading style-2 mb-7 w-full mt-10">
            <h2 class="text-xl md:text-3xl mb-2">
                <i class="fa-solid fa-envelope text-primary mr-3"></i>Besoin d'une information ?
            </h2>
            <div class="line"></div>
        </div>

        {% for label, messages in app.flashes %}
            <div class="px-10 mb-5">
                {% for message in messages %}
                    {% if label is same as ('error') %}
                        <div class="alert alert-error">
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                            <span>{{ message }}</span>
                        </div>
                    {% endif %}
                    {% if label is same as ('success') %}
                        <div class="alert alert-success">
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                            <span>{{ message }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

        <div class="flex flex-col min-[1040px]:flex-row min-[1040px]:px-10">
            <div class="flex flex-col min-[1040px]:basis-1/2 p-10 bg-primary rounded-tl-3xl">
                <form action="{{ path('app_contact_send') }}" method="post">
                    <div class="form-control w-full">
                        <label class="label text-2xl" for="f_nom">
                            <span class="label-text">Votre nom</span>
                        </label>
                        <input type="text"
                               id="f_nom"
                               name="contact_nom"
                               placeholder="Votre nom"
                               value="{{ contact_nom is defined ? contact_nom : '' }}"
                               required
                               class="input input-bordered input-md w-full" />
                    </div>

                    <div class="form-control w-full">
                        <label class="label text-2xl" for="f_mail">
                            <span class="label-text">Votre mail</span>
                        </label>
                        <input type="email"
                               id="f_mail"
                               name="contact_mail"
                               placeholder="Votre mail"
                               value="{{ contact_mail is defined ? contact_mail : '' }}"
                               required
                               class="input input-bordered input-md w-full" />
                    </div>

                    <div class="form-control w-full">
                        <label class="label text-2xl" for="f_devis">
                            <span class="label-text">Numéro de devis</span>
                        </label>
                        <input type="text"
                               id="f_devis"
                               name="contact_devis"
                               value="{{ contact_devis is defined ? contact_devis : '' }}"
                               placeholder="Numéro de devis si vous en avez un"
                               class="input input-bordered input-md w-full" />
                    </div>

                    <div class="form-control w-full">
                        <label class="label text-2xl" for="f_message">
                            <span class="label-text">Votre message</span>
                        </label>
                        <textarea
                               id="f_message"
                               name="contact_message"
                               class="textarea textarea-bordered textarea-md w-full">{{ contact_message is defined and contact_message is not same as ('') ? contact_message : '' }}</textarea>
                    </div>

                    <input type="hidden" name="contact_robot">

                    <button type="submit"
                            class="btn bg-slate-800 border-slate-700 hover:bg-slate-600 text-white mt-6">Envoyer</button>
                </form>

            </div>

            <div class="flex-auto p-10 text-center min-[1040px]:basis-1/2 min-[1040px]:text-start bg-slate-800 text-white rounded-br-3xl" id="contact">
                <div class="w-full mb-2">
                    <ul class="list-none">
                        <li class="mb-6 text-base"><span class="font-bold">Téléphone</span>: {{ contactInformation('tel') }}</li>
                        <li class="mb-6 text-base"><span class="font-bold">E-mail</span>: <a href="mailto:{{ contactInformation('mail') }}">{{ contactInformation('mail') }}</a></li>
                        <li class="mb-6 text-base"><span class="font-bold">Adresse</span> :  {{ contactInformation('adresse') }}</li>
                    </ul>
                </div>

                <div class="px-24 w-full flex flex-col min-[1040px]:px-0">
                    <p class="text-2xl underline underline-offset-8 mb-2">Horaires d'ouverture</p>
                    <table class="table table-sm w-96 max-[1040px]:m-auto">
                        {% for op in openings %}
                            <tr class="border-0 hover hover:text-slate-800">
                                <td>{{ op.day }}</td>
                                <td>{{ op.morning }}</td>
                                <td>{{ op.afternoon }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}