<footer class="footer footer-center p-10 bg-primary text-primary-content rounded">
    <div class="grid grid-flow-col gap-4">
        <a class="link link-hover">A propos de nous</a>
        <a class="link link-hover" href="{{ path('app_shop') }}">Boutique</a>
        <a class="link link-hover" href="{{ path('app_contact') }}">Contact</a>
    </div>
    <div>
        <div class="grid grid-flow-col gap-4">
            {% for social in tSocials() %}
                <a href="{{ social.url }}" title="{{ social.name }}" target="_blank"><i class="{{ social.logo }} fa-2x"></i></a>
            {% endfor %}
        </div>
    </div>
    <div>
        <p>Copyright © 2023 - All right reserved by Crazy Phone</p>
    </div>
</footer>